doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Zoom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 Zoom
        main
            div#roomList
                form#join_form
                    h3 닉네임
                    input#input_name(type="text", placeholder="이름을 입력해주세요", required)

                    h3 방이름
                    input#input_room(type="text", placeholder="방이름을 입력해주세요", required)
                    button 참여하기
            div#room
                form#msg_form
                    h1(align="center")
                    div#div_bnts(style="text-align:center")
                        a#btn_chg_name(align="center") 닉네임 변경
                    ul(style="padding:0;overflow:scroll;height:240px")
                    div(style="height:50px;display:flex;flex-wrap:wrap")
                        input(type="text", placeholder="메세지를 입력해주세요", required, style="flex-grow:1;margin:0 10px 0 0")
                        button(style="flex-grow:0;margin:0") 전송
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js") 
