doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Zoom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 Hello
        main
            form#nick
                h3 닉네임
                input(type="text", placeholder="닉네임을 입력해주세요", required)
                button 저장
            ul
            form#msg
                input(type="text", placeholder="메세지를 입력해주세요", required)
                button 전송
        script(src="/public/js/app.js") 
